{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobsika Gestionnaire d'Emplois</title>
</head>
<body>
    <div class="top_title">
        <h1 class="logo">Jobsika</h1>
    </div>
    <div class="hero-section">
        <p class="tagline">
            Votre plateforme intelligente pour gérer vos candidatures d'emploi. 
            Organisez, suivez et optimisez votre recherche d'emploi en toute simplicité.
        </p>
        
        <div class="features">
            <div class="feature-card">
                <span class="feature-icon">📋</span>
                <div class="feature-title">Gestion Centralisée</div>
                <div class="feature-description">Centralisez toutes vos candidatures en un seul endroit</div>
            </div>
            <div class="feature-card">
                <span class="feature-icon">📊</span>
                <div class="feature-title">Suivi Intelligent</div>
                <div class="feature-description">Suivez l'évolution de chaque candidature </div>
            </div>
            <div class="feature-card">
                <span class="feature-icon">🎯</span>
                <div class="feature-title">Optimisation</div>
                <div class="feature-description">Analysez vos performances et améliorez vos chances</div>
            </div>
        </div>
    </div>

            
    <div class="auth-description">
        <a href="{{ google_auth_url }}" id="googleAuthBtn" class="google-btn">Login with Google</a>
        <p>Connectez-vous avec votre compte Google pour accéder à votre tableau de bord personnel et commencer à organiser vos candidatures.</p>
    </div>
    
    <script src="{% static 'js/home_page.js' %}"></script>

</body>
</html>